doctype html
html
  head
    meta(charset="utf-8")
    script(src="js/jquery.1.8.2.js")
    script(src="js/bootstrap.js")
    script(src="js/d3.v3.min.js")
    script(src="js/underscore-min.js")
    script(src="js/px.min.js")
    script(src="js/q.js")
    script(src="js/simple_statistics.js")
    script(src="js/clusterfck.js")
    script(src="gap.js")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    select#order
        option blah
        option name
        option population
        option cluster
    #content
